/* styles.css */

.container {
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    color: #000000;
  }
  
  .albums {
    margin-top: 20px;

  }
  
  .album {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: lightgray;
    font-size: 18px;
  }
  
  .add-album {
    margin-top: 20px;
  }
  
  .update-album {
    margin-top: 20px;
  }

  button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }
  
  input{
    padding: 10px;
    margin-left: 15px;
  }
  h2{
    color: gray;
  }